@import url("https://fonts.googleapis.com/css2?family=Yomogi&display=swap");
@import url("../../styles/variable.css");

.streamingMaterialDiv {
  display: flex;
  flex-direction: row;
}
.streamingMaterialDiv > iframe {
  border: none;
  border-radius: 10px;
}
