@import url("https://fonts.googleapis.com/css2?family=Yomogi&display=swap");
@import url("../../styles/variable.css");

.streamingMaterialDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.timeContainer {
  padding: 20px;
  width: 250px;
}
.streamingMaterialDescription > h4 {
  text-align: left;
}

@media (max-width: 799px) {
  .streamingMaterialDiv {
    flex-direction: column;
  }
  .streamingMaterialDescription > h4 {
    text-align: center;
  }
}
