@import url("../../static/fonts/fonts.css");
@import url("../../styles/variable.css");

.body {
  all: unset;
  position: absolute;
  background: transparent;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.body > * {
  position: relative;
  width: max-content;
}

.time-container {
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: var(--header-color);
  border-radius: 15px;
  font-family: "MihiPixelMoji", monospace;
  font-size: 3rem;
}
.colon {
  padding: 0 4px;
}
.am-pm {
  font-size: 2rem;
  padding-left: 8px;
}
