@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
@import url("../../styles/variable.css");
@import url("../../static/fonts/fonts.css");

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: var(--bg-color);
    background-image: url("../../images/raimon-illust_png.png");
    background-size: 100px;
    background-position: 10px 20px;
    background-attachment: fixed;
    color: var(--text-color);
    padding-bottom: 60px;
    font-family: 'Yomogi', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body > div {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'MihiPixelMoji', monospace;
    font-weight: bold;
    color: var(--header-color);
    text-align: center;
    letter-spacing: 0.5rem;
}
h1 {
    font-size: 4rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
h2 {
    font-size: 1.8rem;
}

span {
    display: inline-block;
}

section {
    width: 100%;
}