@import url('../styles/variable.css');
@import url("../static/fonts/fonts.css");

.mihiFont {
    font-family: 'MihiPixelMoji', monospace;
}

.section {
    overflow-x: hidden;
}
.section > div {
    transform: translateX(100%);
    transition: all 0.5s ease;
}