@import url("../styles/variable.css");
@import url("../static/fonts/fonts.css");

.mihiFont {
  font-family: "MihiPixelMoji", monospace;
}

.section {
  overflow-x: hidden;
}
.section > div {
  /* TODO: This right here is dictated directly by the Observer Hook. Needs to be changed eventually. */
  /* transform: translateX(200%); */
  transition: all 0.5s ease;
}

.calendarDiv {
  width: 100%;
}
