@import url("../styles/variable.css");
@import url("../static/fonts/fonts.css");

.mihiFont {
  font-family: "MihiPixelMoji", monospace;
}

.section {
  overflow-x: hidden;
}
.section > div {
  /* TODO: This right here is dictated directly by the Observer Hook. Needs to be changed eventually. */
  /* transform: translateX(200%); */
  transition: all 0.5s ease;
}

.calendarDiv {
  width: 100%;
}

.resourceList {
  display: table;
  border-spacing: 5px;
}
.resourceListItem {
  display: table-row;
}
.resourceListItem_description {
  background: hsl(from var(--panel-color) h s l / 20%);
  padding: 5px 10px;
  border-radius: 10px;
}
.resourceListItem_name,
.resourceListItem_description {
  display: table-cell;
  backdrop-filter: blur(5px);
}
